<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Has solicitado un cambio de contraseña, <%= @usuario.nombres %></h1>
    <p>
      Necesitamos confirmar que ha sido usted el que ha mandado la solicitud.
    </p>
    <p>
      Para cambiar su contraseña, por favor siga este link: <%= @url %>.
    </p>
    <p>Desde el team de Picaditos.com esperamos que esto sea de su ayuda!</p>
  </body>
</html>