<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Picaditos.com, <%= @user.nombres %></h1>
    <p>
      Te has registrado correctamnete en Picaditos.com,
      tu nombre de usuario es: <%= @user.user_name %>.<br>
    </p>
    <p>
      Para ingresar al sitio, por favor siga este link: <%= @url %>.
    </p>
    <p>Gracias por unirte, te esperamos en la cancha!</p>
  </body>
</html>