
    <center>
    <img src="https://i2.wp.com/alimsports.com/wp-content/uploads/2017/02/%C2%A1Los-10-deportes-mas-practicados-en-todo-el-mundo.jpg?fit=2920%2C1423" width="400" height="300">
    <h1><%= @deporte.nombre %></h1>
    </center>
    <h3>Descripcion del deporte:</h6>
    <p><%= @deporte.descripcion%></h3>
    <h3>Minimo de jugadores:</h3>
    <p><%= @deporte.min_jugadores%></p>
