
    <center>
    <img src="http://localhost:3001/images/deportes.jpg" width="400" height="300">

    </center>
    <h3>Tus estadisticas:</h6>
    <img src="http://localhost:3001/images/trofeo.png" width="50" height="100">
    <h3>Partidos Ganados:</h6>
    <p><%= @estadistica.partidos_ganados%></h3>
    <h3>Partidos Empatados:</h6>
    <p><%= @estadistica.partidos_empatados%></h3>
    <h3>Partidos Perdidos:</h6>
    <p><%= @estadistica.partidos_perdidos%></h3>
    <br>
    <img src="http://localhost:3001/images/balon.png" width="80" height="100">
    <h3>Goles anotados:</h6>
    <p><%= @estadistica.goles_anotados%></h3>
